
  <div class="card col-3 mb-4 mx-2" >
    <%= gravatar_for user, class: "card-img-top" %>
    <div class="card-body ">
      <h4 class="card-title"><%= user.name %></h4>
      <p class="card-text"><%= user.email %></p>
      <%= friend_status(user) %>
      <%= link_to 'See Profile', user, class: "btn btn-primary" %>
    </div>
  </div>

